

	/*Header Styles*/

.headerProps{
	background-color: rgb(50,51,55);
	height: 2em;
	float: left;
	width: 100%;
	opacity: 1;
	position: absolute;
	z-index: 1;
}


a{
	text-decoration: none;
	font-weight: bold;
	color: white;
	margin: 25px;
}

#navbar ul{
	list-style: none;
	opacity: 1;
}

#navbar li{
	display: inline;
	text-decoration: none;
	font-size: 1em;
	font-family: calibri;
	margin: 40px;
	padding: 50px;
	font-size: 175%;
	overflow: none;
}
#company h1{
	text-align: center;
	font-size: 400%;
	font-weight: bold;
	color: #e6e6e6;
	text-shadow: 1px 2px black;
	position: relative;
	margin:auto;
    vertical-align:middle;
    top: 2.5em;
}



}
img.resize {
    width: 40%;
}


#logo img{
	position: relative;
	top: 20em;
	left: 12em;
	box-shadow: 5px 6px 5px grey;
}

.left{
	width: 100%;
	height: 3.3em;
	text-align: center;

}

.right{
	float: right;

}
span{
	color: #a13939;
}


.container1{

}
.container1 #backgroundImg{
	height: 30em;
	float: left;
	width: 100%;
	position: absolute;
	z-index: 0;
	filter: contrast(70%);

}

.container2{
	height: 35em;
	width: 100%;
	background-color: #696969;
}

#paragraphs{
	position: relative;
	float: right;
	width: 40%;
	top: 10em;
	padding: 3px;
	margin: 3px;

}

#paragraphs p{
	font-size: 100%;
	padding: 5px;
}

#bodyimages{
	position: absolute;
	top: 60em;
	left: 10em;


}
#bodyimages img{

	height: 10%;
	width: 10%;
	margin: 20px;
	padding: 30px;

}
#bodyimages p{
}

	/*footer styles*/
.footerleft{
	padding: 3px;
	margin: 10px;
	float: left;

}

.footerright{
	padding: 3px;
	float: right;
	margin: 10px;

}
@media only screen and (min-width: 864px) {
    #company h1{
       font-size: 500%;
    }
}