
@keyframes hoveranimation {
    from {color: none;}
    to {color: rgb(50,51,55);
    	opacity: .5;}
}

@keyframes fadein{
	from{opacity: 0;}
	to{opacity: 1;}
}
.fadein{
	animation-name: fadein;
    animation-duration: 5s;
    -webkit-animation-fill-mode: forwards;

}
	/*Header Styles*/
}
.headerProps .icon {
  display: none;
}

.headerProps{
	background-color: rgb(50,51,55);
	height: 4em;
	float: left;
	width: 100%;
	opacity: .80;
	position: absolute;
	z-index: 1;
}
.headerProps li{
	text-align: center;
}

a{
	text-decoration: none;
	font-weight: bold;
	color: white;
	margin: 25px;
}

#navbar ul{
	list-style: none;
	opacity: 1;
}

#navbar li{
	display: inline;
	text-decoration: none;
	font-family: calibri;
	font-size: 300%;
	position: relative;
	top: 8px;
	margin: 0px 10% 0px 10%;
}
#navbar li:first-child{

	margin: 0px;
	padding: 10px;
	float: left;
	position: relative;
	top: -12px;
	font-size: 4em;
}
li:hover{
	animation-name: hoveranimation;
    animation-duration: .1s;
    -webkit-animation-fill-mode: forwards;
}
#company h1{
	text-align: center;
	font-weight: bold;
	color: #e6e6e6;
	text-shadow: 4px 2px black;
	position: relative;
	margin:auto;
    vertical-align:middle;
    top: 3.2em;
    font-size: 130px;
}



}
img.resize {
    width: 40%;
}


#logo img{
	position: relative;
	top: 35em;
	left: 12em;
	box-shadow: 5px 6px 5px black;
	background-color: #696969;
}

.left{
	width: 100%;
	height: 3.3em;
	text-align: center;

}

.right{
	float: right;
	margin: 0px 200px 200px 200px;

}
span{
	color: #a13939;
}


.container1 #backgroundImg{
	height: 53.5em;
	width: 100%;
	position: absolute;
	z-index: 0;
	filter: contrast(70%);
	opacity: 1;
	filter: blur(3px);

}

.container2{
	height: 23em;
	width: 100%;
	background-color: #696969;
}
/*second panel*/

.container3{
	display: flex;
	height: 30em;
	width: 100%;
	background-color: rgb(50,51,55);
}
.container3 .abouth1{
	margin: auto;
}
.container3 h1{
	font-size: 72px;
	top: 50px;
	font-family: Helvetica;
	font-weight: bold;
	color: #a13939;
}
.about{
	position: relative;
	width: 80%;
	margin:auto;
	text-align: center;
	font-family: Helvetica;
	text-align: center;
	text-overflow: hidden;
	top: -100px;
}

.about p{
	font-size: 24px;
}
.container4{
	height: 40em;
	width: auto;
	background-color: #696969;
}
.container4 img{
	height: 100px;
	width: 100px;
}
.container5{
	background-color: rgb(50,51,55);
	height: 40px;
}
.imageGroup{
}
.imageGroupTwo{
	position: relative;
	top: -520px;
	right: -315px;
	width: 300px;
	height: auto;
	margin:0;
}

#imageone{
	position: relative;
	height: 160px;
	width: 130px;
	padding: 50px;
	overflow: hidden;
}
#imagetwo{
	position: relative;
	height: auto;
	width: 130px;
	padding: 50px;
	overflow: hidden;
	margin: 0;
}




#imageone p{
	font-weight: bold;
	font-family: Helvetica;
	font-size: 18px;
	margin: 0px;
	right: 20px;
}

.container4 p{
	font-weight: bold;
	font-family: Helvetica;
	font-size: 18px;
	margin: 0px;
	position: relative;
	right: -20px;
	padding: 10px;
}

	/*footer styles*/
footer{
	background-color: rgb(50,51,55);
}
.footerleft{
	padding: 3px;
	margin: 10px;
	float: left;

}

.footerright{
	padding: 3px;
	float: right;
	margin: 10px;
	color: black;

}
@media only screen and (max-width: 1000px) {
	#navbar li{
		margin: 20px;
		font-size: 200%;

}
#company h1{
    font-size: 72px;
    top: 5em;

}
.about {
	top: 5%;
	right: 10%;
	margin: auto;
}

.container4 img{
	height: 170px;
	width: 170px;
	margin: 0;
	display: block;
}
.imageGroup{
	position: relative;
	right: 30%;
}
.container3{
	height: 60em;
	margin-top: -4px;
}
.container4{
	height: 60em;
}

.container3 h1{
	font-size: 150px;
}
}

