

	/*Header Styles*/

.headerProps{
	background-color: rgb(50,51,55);
	height: 4em;
	float: left;
	width: 100%;
	opacity: .80;
	position: absolute;
	z-index: 1;
}
.headerProps li{
	text-align: center;
}

a{
	text-decoration: none;
	font-weight: bold;
	color: white;
	margin: 25px;
}

#navbar ul{
	list-style: none;
	opacity: 1;
}

#navbar li{
	display: inline;
	text-decoration: none;
	font-size: 1em;
	font-family: calibri;
	margin: 50px;
	padding: 60px;
	font-size: 300%;
}
#company h1{
	text-align: center;
	font-weight: bold;
	color: #e6e6e6;
	text-shadow: 1px 2px black;
	position: relative;
	margin:auto;
    vertical-align:middle;
    top: 3.2em;
}



}
img.resize {
    width: 40%;
}


#logo img{
	position: relative;
	top: 35em;
	left: 12em;
	box-shadow: 5px 6px 5px grey;
	background-color: #696969;
}

.left{
	width: 100%;
	height: 3.3em;
	text-align: center;

}

.right{
	float: right;
	margin: 0px 200px 200px 200px;

}
span{
	color: #a13939;
}


.container1 #backgroundImg{
	height: 50em;
	width: 100%;
	position: absolute;
	z-index: 0;
	filter: contrast(70%);
	opacity: 1;

}

.container2{
	height: 23em;
	width: 100%;
	background-color: #696969;
}
/*second panel*/

.container3{
	height: 10em;
	width: 100%;
	background-color: #696969;
}
.about{
	position: relative;
	height: auto;
	width: 350px;
	float: right;
	margin: 100px 100px 100px 100px;
	top: -50px;
	right: 225px;

}
.about h1{
	text-align: center;
	position: relative;
	font-size: 32px;
	font-weight: bold;
}
.about p{
	font-size: 24px;
	margin-top: 10px;
}
.container4{
	background-color: rgb(50,51,55);
	height: 30em;
}
.container4 img{
	height: 30%;
	width: 15%;
	position: relative;
	padding: 5%;
	overflow-x: hidden;
	left: 250px;
}
#bodyimages p{
	display: inline;
}
#bodyimages{
	position: relative;
	top: -70px;
}




	/*footer styles*/
footer{
	background-color: rgb(50,51,55);
}
.footerleft{
	padding: 3px;
	margin: 10px;
	float: left;

}

.footerright{
	padding: 3px;
	float: right;
	margin: 10px;
	color: black;

}
@media only screen and (min-width: 500px) {
    .about{
	position: relative;
	height: auto;
	width: 350px;
	float: right;
	margin: 100px 100px 100px 100px;
	top: -100px;
	right: -40px;

}
#bodyimages{
	position: relative;
	top: -30px;
}
}